.calendar {
  position: relative;
  margin: 25px 0 0 8px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  direction: ltr;
  font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}