#time-markers {
  position: absolute;
  top: 0px;
  left: 0px;
  list-style: none;
  width: 60px;
  z-index: 2;
}

#time-markers .hour {
  font-family: 'helvetica neue', sans-serif;
  font-size: 10px;
  color: #a7a7a7;
  text-transform: uppercase;
  letter-spacing: 0px;
  height: 59.5px;
  text-align: right;
}

#time-markers .hour .time {
  display: block;
  height: 50%;
}

#time-markers .hour .time strong {
  font-weight: bold;
  font-size: 13px;
  color: #686868;
  margin-right: 1px;
  letter-spacing: 1px;
}

#time-markers .hour .half {
  font-size: 10px;
  font-weight: normal;
  display: block;
  height: 50%;
}